* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font-family: "Noto Sans Tc", sans-serif;
  background-color: #dedede;
}

.btn,
.pop_Up_Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.delete_pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  user-select: none;
  width: 400px;
  background: linear-gradient(to bottom, white 50%, rgba(245, 245, 245) 50%);
  text-align: start;
  padding: 20px;
  border: 1px solid rgb(0, 200, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  opacity: 0;

  user-select: none;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.delete_pop_uppo {
  opacity: 1;
  z-index: 10000;
  pointer-events: auto;
}
.delete-label {
  display: flex;
  justify-content: space-between;
}
h4 {
  padding: 20px 0;
}
.deleteBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.deleteBtn {
  border: 1px solid rgb(0, 200, 255);
  padding: 5px 25px;
  font-size: 25px;
  display: flex;
  cursor: pointer;
}
.btn {
  background-color: blue;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid blue;
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}
.pop_Up_Box {
  user-select: none;
  width: 400px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease-in-out;
}
.pop_Up_Box_op1 {
  opacity: 1;
  pointer-events: auto;
}

.pop_Up_Box i {
  font-size: 60px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 40px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}
.pop_Up_Box h1 {
  font-size: 25px;
  color: #1b2631;
  margin-bottom: 5px;
}
.pop_Up_Box label {
  font-size: 23px;
  color: #404040;
}
.pop_Up_Box .btns {
  margin: 40px 0 0 0;
}
.btns .btn1,
.btns .btn2 {
  background-color: #999999;
  color: white;
  font-size: 18px;
  padding: 10px 13px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btns .btn2 {
  background-color: #ff3333;
  margin-left: 20px;
  border: 1px solid #cc0000;
}
.btn1:hover {
  transition: 0.5s;
  background: #8c8c8c;
}
.btn2:hover {
  transition: 0.5s;
  background: #e60000;
}
