*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
   
}
.text{
    font-size: 120px;
    background: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGV1emdiZG0xaTRpdnY5ZnIyZ2Y4aHFsMzBnczN6bzJpZmVocG0xZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U3qYN8S0j3bpK/giphy.gif') repeat;
   background-position: 40% 50%;
   -webkit-background-clip: text;
   color: transparent;
   letter-spacing: -4px;
   text-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
   font-family: 'Raleway',serif;
}
 